{% extends 'base.html' %}
{% block content %}
 
<!--================ Travel Category Area =================-->
	<section class="travel_category">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<h1 style="font-family: Bree Serif, serif;">Best Travel Experience Within the Universe.</h1>
					</div>
				</div>
			</div>
		 </div>
		
	     <div class="container-fluid">
			
			 <div class="row owl-carousel" id="travel_cat">
				
				
				 	<div class="single_travel wow fadeIn" data-wow-duration="">
							<figure>
							<img class="img-fluid" style="height: 200px; object-fit: cover; object-position: center center;" src="{{ url_for('static', filename='img/experiment_cgi.jpg') }}" alt="">
							</figure>
							<div class="overlay"></div>
							<div class="text-wrap">
								<h3>
								<a href="{{ url_for('gallery_by_district',district='Kozhikode') }}" style="font-family: Bree Serif, serif;">Kozhikode </a>
								</h3>
								<div class="blog-meta white d-flex justify-content-between align-items-center flex-wrap">
									<div class="meta">
									
									</div>
									<div>
									</div>
								</div>
							</div>
					</div>
					
					<div class="single_travel wow fadeIn" data-wow-duration="">
						<figure>
						<img class="img-fluid" style="height: 200px; object-fit: cover; object-position: center center;" src="{{ url_for('static', filename='img/evolve-1920x1080.jpg') }}" alt="">
						</figure>
						<div class="overlay"></div>
						<div class="text-wrap">
							<h3>
							<a href="{{ url_for('gallery_by_district',district='Kannur') }}" style="font-family: Bree Serif, serif;">Kannur </a>
							</h3>
							<div class="blog-meta white d-flex justify-content-between align-items-center flex-wrap">
								<div class="meta">
								
								</div>
								<div>
								</div>
							</div>
						</div>
				</div>
				
				<div class="single_travel wow fadeIn" data-wow-duration="">
					<figure>
					<img class="img-fluid" style="height: 200px; object-fit: cover; object-position: center center;" src="{{ url_for('static', filename='img/earth_3-2560x1440.jpg') }}" alt="">
					</figure>
					<div class="overlay"></div>
					<div class="text-wrap">
						<h3>
						<a href="{{ url_for('gallery_by_district',district='Idukki') }}" style="font-family: Bree Serif, serif;">Idukki </a>
						</h3>
						<div class="blog-meta white d-flex justify-content-between align-items-center flex-wrap">
							<div class="meta">
							</div>
							<div>
							</div>
						</div>
					</div>
			</div>
			
			<div class="single_travel wow fadeIn" data-wow-duration="">
				<figure>
				<img class="img-fluid" style="height: 200px; object-fit: cover; object-position: center center;" src="{{ url_for('static', filename='img/earth_3-2560x1440.jpg') }}" alt="">
				</figure>
				<div class="overlay"></div>
				<div class="text-wrap">
					<h3>
					<a href="{{ url_for('gallery_by_district',district='Palakkad') }}" style="font-family: Bree Serif, serif;">Palakkad </a>
					</h3>
					<div class="blog-meta white d-flex justify-content-between align-items-center flex-wrap">
						<div class="meta">
						</div>
						<div>
						</div>
					</div>
				</div>
		</div>
		
		<div class="single_travel wow fadeIn" data-wow-duration="">
			<figure>
			<img class="img-fluid" style="height: 200px; object-fit: cover; object-position: center center;" src="{{ url_for('static', filename='img/fairy_deer_4k.jpg') }}" alt="">
			</figure>
			<div class="overlay"></div>
			<div class="text-wrap">
				<h3>
				<a href="{{ url_for('gallery_by_district',district='Wayanad') }}" style="font-family: Bree Serif, serif;">Wayanad </a>
				</h3>
				<div class="blog-meta white d-flex justify-content-between align-items-center flex-wrap">
					<div class="meta">
					
					</div>
					<div>
					</div>
				</div>
			</div>
		</div>
		
				</div>
			
			</div>
			
		</div>
	</section>
	<!--================ End Travel Category Area =================-->

	<!--================ Latest Blog Area =================-->
	<section class="latest_blog_post">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" >
					<div class="main_title">
						<h1 style="font-family: Bree Serif, serif;">Latest
							<br> Blog Posts.</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				{% for post in posts %}
				<div class="col-lg-6 col-md-12">
					<div class="single_travel wow fadeInUp" data-wow-duration="1s">
						<figure>
							<img class="img-fluid w-100" style="height: 300px; object-fit: cover; object-position: center center;" src="{{ url_for('static', filename='img/profilepic/'+post.image_file) }}" alt="">
						</figure>
						<div class="overlay"></div>
						<div class="text-wrap">
							<h3>
								<a href="{{ url_for('post',post_id=post.id) }}" style="font-family: Bree Serif, serif;">{{post.title}}</a>
							</h3>
							<div class="blog-meta white d-flex justify-content-between align-items-center flex-wrap">
								<div class="meta">
									<a href="#">
										<span class="icon fa fa-calendar"></span> {{ post.date_posted.strftime('%Y-%m-%d') }}
										<span class="icon fa fa-map-marker"></span> {{ post.place }}
									</a>
								</div>
								<div>
									<a class="read_more" href="{{ url_for('post',post_id=post.id) }}">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<!--
			<div class="row">
				<div class="offset-lg-7 col-lg-4">
					<div class="blog-meta bottom d-flex justify-content-end align-items-center">
						<div>
							<a class="read_more" href="#">Load More Posts</a>
						</div>
					</div>
				</div>
			</div>
			-->
		</div>
	</section>
	<!--================ End Latest Blog Area =================-->

	{% endblock %}
	
	