{% extends 'base.html' %}
{% block content %}

    <!--================Blog Area =================-->
    <section class="contact_area">
        <div class="container">
             <div class="row">
                 <div class="col-lg-12 py-5">
                     <h2 class="text-center">Travel Blog</h2>
                 </div>
                 <div class="col-lg-2"></div>
                 <div class="col-lg-8 px-4 py-4 shadow-lg p-3 mb-5 bg-white rounded">
                    <form class="row contact_form" action="" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="col-md-12">
                        {{ form.title.label(class="form-control-label font-weight-bold") }}
							{% if form.title.errors %}
								{{ form.title(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.title.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>>
								{% else %}
								{{ form.title(class="form-control") }} 
							{% endif %}
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold"> Image</label>
                            {{ form.picture(class="form-control") }} 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.content.label(class="form-control-label font-weight-bold") }}
                            {% if form.content.errors %}
                                {{ form.content(class="form-control is-invalid", placeholder="content") }}
                                <div class="invalid-feedback">
                                    {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}  
                                </div>>
                                {% else %}
                                {{ form.content(class="form-control border", placeholder="content") }} 
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold"> Image</label>
                            {{ form.picture2(class="form-control") }} 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.content2.label(class="form-control-label font-weight-bold") }}
                            {% if form.content2.errors %}
                                {{ form.content2(class="form-control is-invalid", placeholder="content") }}
                                <div class="invalid-feedback">
                                    {% for error in form.content2.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}  
                                </div>>
                                {% else %}
                                {{ form.content2(class="form-control border", placeholder="content") }} 
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold"> Image</label>
                            {{ form.picture3(class="form-control") }} 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.content3.label(class="form-control-label font-weight-bold") }}
                            {% if form.content3.errors %}
                                {{ form.content3(class="form-control is-invalid", placeholder="content") }}
                                <div class="invalid-feedback">
                                    {% for error in form.content3.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}  
                                </div>>
                                {% else %}
                                {{ form.content3(class="form-control border", placeholder="content") }} 
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold"> Image</label>
                            {{ form.picture4(class="form-control") }} 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.content4.label(class="form-control-label font-weight-bold") }}
                            {% if form.content4.errors %}
                                {{ form.content4(class="form-control is-invalid", placeholder="content") }}
                                <div class="invalid-feedback">
                                    {% for error in form.content4.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}  
                                </div>>
                                {% else %}
                                {{ form.content4(class="form-control border", placeholder="content") }} 
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <div class="form-check mb-1">
                           
                          </div>
                          <a class="btn btn-danger btn-lg" href="{{ url_for('account') }}" role="button">Cancel</a>
                          {{ form.submit(class='btn btn-primary btn-lg') }}
                    </div>
                </form>
                 </div>
                 <div class="col-lg-2"></div>
             </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    {% endblock %}